.out-left(@out) {
   left:@out;
}

.out-right(@out) {
   right:@out;
}

.out-top(@out) {
   top:@out;
}

.skewed(@background){
  background-color:@background;
}

.skew(@deg){
  transform: skewY(@deg);
  -webkit-transform: skewY(@deg);
     -moz-transform: skewY(@deg);
      -ms-transform: skewY(@deg);
       -o-transform: skewY(@deg);
  
}

.border-radius(@border){
    -webkit-border-radius:@border;
       -moz-border-radius:@border;
         -o-border-radius:@border;
            border-radius:@border;
}

.box-sizing(@sizing:border-box){
   -moz-box-sizing:@sizing;
        box-sizing:@sizing;
}

.transition(@prop, @dur, @easing:ease){
  transition: @prop @dur @easing;
  -webkit-transition: @prop @dur @easing;
     -moz-transition: @prop @dur @easing;
      -ms-transition: @prop @dur @easing;
       -o-transition: @prop @dur @easing;
}