.ribbon {
    position:relative;
    color: #ffffff;
    text-shadow: 1px 2px 5px rgba(0,0,0,.5);
    inset: 0px 0px 20px rgba(0,0,0,0.1), 0px 1px 1px rgba(0,0,0,0.4);
    .gradient(@YellowBorder, @YellowBorderDark);
    &:after {
      content: "";
      width:.2em;
      bottom:-.5em;
      position:absolute;
      display:block;
      border: .9em solid @Yellow;
      z-index:-2;
    }
    &:after {
      right:-1.35em;
      border-left-width: .75em;
      border-right-color:transparent;
    }
}

.out-left(@out) {
   left:@out;
}

.out-right(@out) {
   right:@out;
}

.out-top(@out) {
   top:@out;
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.skewed(@background){
  background-color:@background;
}

.skew(@deg){
  transform: skewY(@deg);
  -webkit-transform: skewY(@deg);
     -moz-transform: skewY(@deg);
      -ms-transform: skewY(@deg);
       -o-transform: skewY(@deg);
  
}

.border-radius(@border){
    -webkit-border-radius:@border;
       -moz-border-radius:@border;
         -o-border-radius:@border;
            border-radius:@border;
}

.box-sizing(@sizing:border-box){
   -moz-box-sizing:@sizing;
        box-sizing:@sizing;
}

.transition(@prop, @dur, @easing:ease){
  transition: @prop @dur @easing;
  -webkit-transition: @prop @dur @easing;
     -moz-transition: @prop @dur @easing;
      -ms-transition: @prop @dur @easing;
       -o-transition: @prop @dur @easing;
}